<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="byob__icons__icon.css">
    <title>Document</title>
</head>

<body>
    <section class="byob__icons">
        <div class="business-byob">
            <img class="business-byob__icon" src="../../images/icon1.png" alt="">
            <img class="business-byob__icon" src="../../images/icon2.png" alt="">
            <img class="business-byob__icon" src="../../images/icon5.png" alt="">
            <img class="business-byob__icon" src="../../images/icon6.png" alt="">
        </div>
        <figure>
            <img class="business-byob__icon--fone" src="../../images/phone.png" alt="">
        </figure>
        <div class="business-byob">
            <img class="business-byob__icon" src="../../images/icon3.png" alt="">
            <img class="business-byob__icon" src="../../images/icon4.png" alt="">
            <img class="business-byob__icon" src="../../images/icon7.png" alt="">
            <img class="business-byob__icon" src="../../images/icon8.png" alt="">
        </div>
    </section>
</body>

</html>