<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="byob__icons__icon.css">
    <title>Document</title>
</head>
<body>
    <i class="icons icons--diamond fa fa-diamond" aria-hidden="true"></i>
    <i class="icons icons--laptop fa fa-laptop" aria-hidden="true"></i>
    <i class="icons icons--tree fa fa-tree" aria-hidden="true"></i>
    <i class="icons icons--bicycle fa fa-bicycle" aria-hidden="true"></i>
    <i class="icons icons--gavel fa fa-gavel" aria-hidden="true"></i>
    <i class="icons icons--cogs fa fa-cogs" aria-hidden="true"></i>   
    <i class="icons icons--paw fa fa-paw" aria-hidden="true"></i>
    <i class="icons icons--leaf fa fa-leaf" aria-hidden="true"></i>
</body>
</html>