.button-green {
    padding: 0.8em 2em;
    border-radius: 0px 10px 10px 0px; 
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    background-color: #60D786;
    color: #fff;
}