<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="byob-form.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Progress - Byob Form</title>
</head>

<body>
    <form class="byob-form">
        <input class="byob-form__input" type="text" name="email" value="Add your email address">
        <a href="" class="byob-form__button">invite me</a>
    </form>
</body>