<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="hero.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Progress - Hero Component</title>
</head>
<body>
    <header class="hero">
        <div class="hero__title">
            <img src="icon-hero-desktop2.png" alt="icone" class="icon-hero">
            <h1>progress</h1>
        </div>
        <p>A new way for service providers and consumers to track project progression.</p>
        <img src="hero-desktop2.PNG" alt="celular" class="hero__demo">
    </header>
</body>
</html>