<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <footer class="footer">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2014 Shooting Brake Design</p>
    </footer>
</body>
</html>