<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../description/description.css">
    <link rel="stylesheet" href="../byob__icons/byob__icons__icon.css">
    <link rel="stylesheet" href="../byob-form/byob-form.css">
    <link rel="stylesheet" href="byob.css">
    <title>Progress - Byob Component</title>
</head>

<body>
    <section class="byob">
        <h1 class="byob__title">Bring Your Own Business</h1>
        <article class="byob__icons">
            <div class="business-byob">
                <img class="business-byob__icon" src="../../images/icon1.png" alt="">
                <img class="business-byob__icon" src="../../images/icon2.png" alt="">
                <img class="business-byob__icon" src="../../images/icon5.png" alt="">
                <img class="business-byob__icon" src="../../images/icon6.png" alt="">
            </div>
            <figure>
                <img class="business-byob__icon--fone" src="../../images/phone.png" alt="">
            </figure>
            <div class="business-byob">
                <img class="business-byob__icon" src="../../images/icon3.png" alt="">
                <img class="business-byob__icon" src="../../images/icon4.png" alt="">
                <img class="business-byob__icon" src="../../images/icon7.png" alt="">
                <img class="business-byob__icon" src="../../images/icon8.png" alt="">
            </div>
        </article>
        <article class="description">
            <h2 class="description__title description__title--lighter">Flexible Platform</h2>
            <p class="description__paragraph">We are and industry agnostic platform. If you can track it, you can Progress it! Progress makes it easy for service providers to connect directly with their customers.</p>
        </article>
        <form class="byob-form">
            <input class="byob-form__input" type="text" name="email" value="Add your email address">
            <a href="" class="byob-form__button">invite me</a>
        </form>
    </section>
</body>

</html>