<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="link.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" href="follow-along.css">
    <title>Document</title>
</head>
<body>
    <section class="follow-along">
        <p>Follow along on Twitter for all the lastest news! <a class="follow-along__link" href="">@Progress_App</a></p>
    </section>
    
</body>
</html>